* {
    box-sizing: border-box;
}

#leftcolumn {
    float: left;
    width: 30%;
    padding: 10px;
}

#rightcolumn {
    float: left;
    width: 70%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1000px) {
    #leftcolumn {
        width: 100%;
        /* display: none; */
    }
    #rightcolumn {
        width: 100%;
    }
}